nav{
    background-color: #191919;
    height: 60px;
    width: 100%;
    position: fixed;
}
label a{
    color: white;
    font-size: 18px;
    line-height: 60px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;
    list-style: none;
    text-decoration: none
}

nav ul{
    float: right;
    margin-right: 15px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    list-style: none;

}
nav ul li a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;
    list-style: none;
    text-decoration: none ;
    

}
     a:hover{
    background-color: black;
    transition: .3s;
    padding-bottom: 6px ;
    padding-right: 10px;
    
}
.checkbtn{

    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 850px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 70%;
        height: 100vh;
        background: #222222;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{

        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{

        font-size: 20px ;
    }
    a:active, a:hover{
        background: rgb(61, 61, 61);
        padding: 20px 30%;
        transition: .7s;
    }
    #check:checked ~ ul{
        left: 0;
    }
}    
